<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<table border="1"width="100%">
    <th>순번</th>
    <th>주민이름</th>
    <th>성별</th>


    <tr th:each ="resident : ${residents.content}">
        <td th:text = "${resident.residentNo}"></td>
        <td th:text = "${resident.name}"></td>
        <td th:text = "${resident.genderCode}"></td>
        <td><a th:href ="@{/familyRelationShipCertificate(residentNo=${resident.residentNo})}">가족관계증명서</a></td>
    </tr>
</table>

<table>
    <tr th:if = "${residents.totalPages > 0}">
        <td th:each = "pageNumber : ${pageNumbers}">
            <a th:href="@{/residents(size=${residents.size}, page =${pageNumber})}"
               th:text="${pageNumber}"
               th:class="${pageNumber == residents.number + 1} ? active"></a>
        </td>
    </tr>
</table>
</body>
</html>