<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <style>
        table,th,tr,td{
            border: 1px solid;
        }
    </style>
</head>
<body>
<h1>주민 목록</h1>
<table>
    <th>순번</th>
    <th>주민이름</th>
    <th>성별</th>
    <th>증명서</th>

    <tr th:each ="resident : ${residents.content}">
        <td th:text = "${resident.residentNo}"></td>
        <td th:text = "${resident.name}"></td>
        <td th:text = "${resident.genderCode}"></td>
        <td><a th:href ="@{/familyRelationShipCertificate(residentNo=${resident.residentNo})}">가족관계증명서</a>
        <a th:href ="@{/registCertification(residentNo=${resident.residentNo})}">주민등록등본</a>
            <a th:if="${resident.checkBirth}" th:href ="@{/brithReport(residentNo=${resident.residentNo})}">출생신고서</a>
            <a th:if="${resident.checkDeath}" th:href ="@{/deathReport(residentNo=${resident.residentNo})}">사망신고서</a>
            <a th:href="@{/certificateList/{residentNo}(residentNo = ${resident.residentNo})}">증명서 발급 목록</a>
        </td>

    </tr>
</table>

<table>
    <tr th:if = "${residents.totalPages > 0}">
        <td th:each = "pageNumber : ${pageNumbers}">
            <a th:href="@{/residents(size=${residents.size}, page =${pageNumber})}"
               th:text="${pageNumber}"
               th:class="${pageNumber == residents.number + 1} ? active"></a>
        </td>
    </tr>
</table>
</body>
</html>